/* Button */
/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/
@-webkit-keyframes webion_spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes webion_spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
## Blog layouts
--------------------------------------------------------------*/
/*-------------------
### Default Styles
---------------------*/
.posts-list__item.grid-item {
  margin-bottom: 50px;
}
.posts-list__item.post .post-thumbnail {
  overflow: hidden;
  display: block;
  width: 100%;
  margin-bottom: 0;
  background-color: #f6f6f6;
}
.posts-list__item.post .post-thumbnail a {
  position: relative;
  display: block;
  padding-bottom: 82%;
}
.posts-list--default .posts-list__item.post .post-thumbnail a {
  padding-bottom: 66%;
}
.posts-list__item.post .post-thumbnail img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.posts-list__item.post.has-thumb .posts-list__item-content {
  margin-top: 34px;
  padding-bottom: 0;
}
.posts-list__item.post.has-thumb + .no-thumb {
  padding: 0;
}
.posts-list__item.post .sticky-label {
  margin: 0 8px 0 0;
}
@media (max-width: 1119px) {
  .posts-list__item.post .sticky-label {
    margin: -3px 8px 0 0;
  }
}
.posts-list__item.post .entry-header .entry-title {
  margin-top: 0;
  margin-bottom: 6px;
}
.posts-list__item.post .entry-header .entry-meta span {
  margin-right: 20px;
}
.posts-list__item.post .entry-header .entry-meta span:last-child {
  margin-right: 0;
}
.posts-list--default .posts-list__item.post .entry-header .entry-meta,
.posts-list--default .posts-list__item.post .entry-header .entry-meta a {
  font-size: 12px;
}
.posts-list__item.post .entry-content {
  margin-top: 0;
  line-height: 30px;
}
.posts-list--default .posts-list__item.post .entry-content {
  margin-top: 12px;
}
.posts-list__item.post .entry-content p:empty {
  display: none;
}
.posts-list__item.post .entry-footer {
  margin: 0;
  padding: 0;
}
.posts-list__item.post .entry-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 0px;
}
.posts-list__item.post .entry-footer .entry-meta {
  margin-top: 26px;
}
.posts-list__item.post .entry-footer .entry-meta span {
  display: inline-block;
  vertical-align: middle;
}
.posts-list__item.post .entry-footer .entry-meta span.byline {
  margin-top: -4px;
}
.posts-list__item.post .entry-footer .entry-meta span.byline .avatar {
  margin-right: 14px;
}
.posts-list__item.post .entry-footer .post__button-wrap a {
  display: block;
  margin-top: 30px;
  padding: 15px 36px 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media (min-width: 940px) {
  .posts-list__item.post .entry-footer .post__button-wrap a {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
### Posts List Formats
--------------------------------------------------------------*/
.default-item.format-post .entry-footer .entry-meta .tags-links + div:not(:empty) {
  margin-top: 28px;
}
.default-item.format-post .entry-footer .entry-meta > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.default-item.format-post .entry-footer .entry-meta > div > * {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

/*--------------------------------------------------------------
### Grid Posts List
--------------------------------------------------------------*/
@media (min-width: 940px) {
  .posts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
  }
  .posts-list .post {
    margin-right: 1rem;
    margin-left: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .posts-list-2-cols .post, .posts-list-3-cols .post {
    max-width: calc(100% / 2 - 2rem);
    width: calc(100% / 2 - 2rem);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 2 - 2rem);
            flex: 0 0 calc(100% / 2 - 2rem);
  }
}
@media (min-width: 1120px) {
  .posts-list-2-cols .post {
    max-width: calc(100% / 2 - 2rem);
    width: calc(100% / 2 - 2rem);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 2 - 2rem);
            flex: 0 0 calc(100% / 2 - 2rem);
  }
  .posts-list-3-cols .post {
    max-width: calc(100% / 3 - 2rem);
    width: calc(100% / 3 - 2rem);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 3 - 2rem);
            flex: 0 0 calc(100% / 3 - 2rem);
  }
}
@media (min-width: 1120px) and (max-width: 1199px) {
  .posts-list-3-cols.one-right-sidebar .post, .posts-list-3-cols.one-left-sidebar .post {
    max-width: calc(100% / 2 - 2rem);
    width: calc(100% / 2 - 2rem);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 2 - 2rem);
            flex: 0 0 calc(100% / 2 - 2rem);
  }
}
.posts-list.posts-list--grid {
  margin-bottom: 0;
}
.posts-list.posts-list--grid .entry-header .entry-title {
  margin-top: 0;
}
.posts-list.posts-list--grid .entry-header .entry-meta {
  margin-top: -3px;
}
.posts-list.posts-list--grid .post-thumbnail + .posts-list__item-content {
  margin-top: 19px;
}