/**
 * WooCommerce Widgets
 */

@import "price-filter";
@import "rating-filter";
@import "attributes-filter";
@import "top-rated-products";
@import "recent-reviews";
@import "product-categories";
@import "products";
@import "recently-viewed-products";
@import "product-search";
@import "tag-cloud";
@import "cart";

.woocommerce .widget{
	background: none;
	padding: 0;
	
	+ .widget {
		margin-top: 58px;
	}

	&-title {
		margin-bottom: 17px;
	}
}

%product-list-widget {
	list-style: none;
	margin: 17px 0 0;
	
	li {
		overflow: hidden;
		position: relative;
		min-height: 60px;
		padding-left: 76px;
		padding-bottom: 0;

		& + li {
			margin-top: 18px;
		}
		
		a {
			display: block;
			margin-top: 7px;
		}
		
		img {
			position: absolute;
			left: 0;
			top: 0;
			max-width: 60px;
		}

		dl.variation {
			display: flex;

			.variation-size {
				margin: 0;
				font-size: 14px;
			}

			dd.variation-size {
				margin-left: 10px;
			}
		}

		.star-rating {
			margin: 0;

			&:before {
				height: 10px;
				
						mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M9.84974 3.85251C9.81678 3.74644 9.72909 3.66914 9.62351 3.65312L6.65767 3.20263L5.33127 0.393525C5.28407 0.293525 5.18662 0.230225 5.07995 0.230225C4.97325 0.230225 4.87583 0.293525 4.82861 0.393525L3.50215 3.20263L0.536364 3.65312C0.430809 3.66914 0.34308 3.74644 0.310118 3.8525C0.277138 3.95857 0.304643 4.07499 0.381049 4.15283L2.52706 6.33942L2.02053 9.42697C2.00248 9.53689 2.04572 9.64794 2.13203 9.71351C2.18085 9.75058 2.23868 9.76945 2.2968 9.76945C2.34142 9.76945 2.38619 9.75833 2.42718 9.73579L5.07993 8.27803L7.73256 9.73577C7.82702 9.78767 7.94143 9.77904 8.02774 9.71349C8.11405 9.64794 8.15731 9.53685 8.13927 9.42693L7.63258 6.33942L9.77883 4.15281C9.85521 4.07499 9.88274 3.95857 9.84974 3.85251Z"/></svg>');
				-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M9.84974 3.85251C9.81678 3.74644 9.72909 3.66914 9.62351 3.65312L6.65767 3.20263L5.33127 0.393525C5.28407 0.293525 5.18662 0.230225 5.07995 0.230225C4.97325 0.230225 4.87583 0.293525 4.82861 0.393525L3.50215 3.20263L0.536364 3.65312C0.430809 3.66914 0.34308 3.74644 0.310118 3.8525C0.277138 3.95857 0.304643 4.07499 0.381049 4.15283L2.52706 6.33942L2.02053 9.42697C2.00248 9.53689 2.04572 9.64794 2.13203 9.71351C2.18085 9.75058 2.23868 9.76945 2.2968 9.76945C2.34142 9.76945 2.38619 9.75833 2.42718 9.73579L5.07993 8.27803L7.73256 9.73577C7.82702 9.78767 7.94143 9.77904 8.02774 9.71349C8.11405 9.64794 8.15731 9.53685 8.13927 9.42693L7.63258 6.33942L9.77883 4.15281C9.85521 4.07499 9.88274 3.95857 9.84974 3.85251Z"/></svg>');
			}

			span {
				height: 10px;

				&:before {
							mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M9.84974 3.85251C9.81678 3.74644 9.72909 3.66914 9.62351 3.65312L6.65767 3.20263L5.33127 0.393525C5.28407 0.293525 5.18662 0.230225 5.07995 0.230225C4.97325 0.230225 4.87583 0.293525 4.82861 0.393525L3.50215 3.20263L0.536364 3.65312C0.430809 3.66914 0.34308 3.74644 0.310118 3.8525C0.277138 3.95857 0.304643 4.07499 0.381049 4.15283L2.52706 6.33942L2.02053 9.42697C2.00248 9.53689 2.04572 9.64794 2.13203 9.71351C2.18085 9.75058 2.23868 9.76945 2.2968 9.76945C2.34142 9.76945 2.38619 9.75833 2.42718 9.73579L5.07993 8.27803L7.73256 9.73577C7.82702 9.78767 7.94143 9.77904 8.02774 9.71349C8.11405 9.64794 8.15731 9.53685 8.13927 9.42693L7.63258 6.33942L9.77883 4.15281C9.85521 4.07499 9.88274 3.95857 9.84974 3.85251Z"/></svg>');
					-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M9.84974 3.85251C9.81678 3.74644 9.72909 3.66914 9.62351 3.65312L6.65767 3.20263L5.33127 0.393525C5.28407 0.293525 5.18662 0.230225 5.07995 0.230225C4.97325 0.230225 4.87583 0.293525 4.82861 0.393525L3.50215 3.20263L0.536364 3.65312C0.430809 3.66914 0.34308 3.74644 0.310118 3.8525C0.277138 3.95857 0.304643 4.07499 0.381049 4.15283L2.52706 6.33942L2.02053 9.42697C2.00248 9.53689 2.04572 9.64794 2.13203 9.71351C2.18085 9.75058 2.23868 9.76945 2.2968 9.76945C2.34142 9.76945 2.38619 9.75833 2.42718 9.73579L5.07993 8.27803L7.73256 9.73577C7.82702 9.78767 7.94143 9.77904 8.02774 9.71349C8.11405 9.64794 8.15731 9.53685 8.13927 9.42693L7.63258 6.33942L9.77883 4.15281C9.85521 4.07499 9.88274 3.95857 9.84974 3.85251Z"/></svg>');
				}
			}
		}

		.quantity {
			display: inline-block;
			vertical-align: top;
			font-weight: 600;
		}
		
		.amount {
			font-weight: 500;
		}

		ins {
			font-style: normal;
			border: 0;

			.amount {
				font-weight: 400;

				bdi {
					font-weight: 500;
				}
			}
		}

		del {
			margin-right: 10px;

			.amount {
				font-size: 12px;
				span {
					font-weight: 500;
				}
			}
		}
	}
}

//calendar in woo sidebar
.woocommerce .widget.widget_calendar{
	td, th{
		font-size: 14px;
		line-height: 44px;
		padding: 0;
	}

	tfoot td{
		line-height: 24px;
	}

	th{
		padding-bottom: 40px;
	}
}

//shop sidebar style
.woocommerce aside.widget-area {
	.widget + .widget:not(.woocommerce) {
		border-top: none;
	}
}