/**
 * Rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	top: 7px;
	margin-left: auto;
	width: 50px;
	height: 23px;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 10px;
		opacity: 0.15;
		background-color: #222;

				mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M9.84974 3.85251C9.81678 3.74644 9.72909 3.66914 9.62351 3.65312L6.65767 3.20263L5.33127 0.393525C5.28407 0.293525 5.18662 0.230225 5.07995 0.230225C4.97325 0.230225 4.87583 0.293525 4.82861 0.393525L3.50215 3.20263L0.536364 3.65312C0.430809 3.66914 0.34308 3.74644 0.310118 3.8525C0.277138 3.95857 0.304643 4.07499 0.381049 4.15283L2.52706 6.33942L2.02053 9.42697C2.00248 9.53689 2.04572 9.64794 2.13203 9.71351C2.18085 9.75058 2.23868 9.76945 2.2968 9.76945C2.34142 9.76945 2.38619 9.75833 2.42718 9.73579L5.07993 8.27803L7.73256 9.73577C7.82702 9.78767 7.94143 9.77904 8.02774 9.71349C8.11405 9.64794 8.15731 9.53685 8.13927 9.42693L7.63258 6.33942L9.77883 4.15281C9.85521 4.07499 9.88274 3.95857 9.84974 3.85251Z"/></svg>');
		-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M9.84974 3.85251C9.81678 3.74644 9.72909 3.66914 9.62351 3.65312L6.65767 3.20263L5.33127 0.393525C5.28407 0.293525 5.18662 0.230225 5.07995 0.230225C4.97325 0.230225 4.87583 0.293525 4.82861 0.393525L3.50215 3.20263L0.536364 3.65312C0.430809 3.66914 0.34308 3.74644 0.310118 3.8525C0.277138 3.95857 0.304643 4.07499 0.381049 4.15283L2.52706 6.33942L2.02053 9.42697C2.00248 9.53689 2.04572 9.64794 2.13203 9.71351C2.18085 9.75058 2.23868 9.76945 2.2968 9.76945C2.34142 9.76945 2.38619 9.75833 2.42718 9.73579L5.07993 8.27803L7.73256 9.73577C7.82702 9.78767 7.94143 9.77904 8.02774 9.71349C8.11405 9.64794 8.15731 9.53685 8.13927 9.42693L7.63258 6.33942L9.77883 4.15281C9.85521 4.07499 9.88274 3.95857 9.84974 3.85251Z"/></svg>');

		transition: background-color 0.2s ease-out;
	}

	span {
		position: absolute;
		top: 0;
		padding-top: 1.5em;
		overflow: hidden;
		float: left;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			width: 100%;
			height: 10px;
			background-color: #3D3D3D;

					mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M9.84974 3.85251C9.81678 3.74644 9.72909 3.66914 9.62351 3.65312L6.65767 3.20263L5.33127 0.393525C5.28407 0.293525 5.18662 0.230225 5.07995 0.230225C4.97325 0.230225 4.87583 0.293525 4.82861 0.393525L3.50215 3.20263L0.536364 3.65312C0.430809 3.66914 0.34308 3.74644 0.310118 3.8525C0.277138 3.95857 0.304643 4.07499 0.381049 4.15283L2.52706 6.33942L2.02053 9.42697C2.00248 9.53689 2.04572 9.64794 2.13203 9.71351C2.18085 9.75058 2.23868 9.76945 2.2968 9.76945C2.34142 9.76945 2.38619 9.75833 2.42718 9.73579L5.07993 8.27803L7.73256 9.73577C7.82702 9.78767 7.94143 9.77904 8.02774 9.71349C8.11405 9.64794 8.15731 9.53685 8.13927 9.42693L7.63258 6.33942L9.77883 4.15281C9.85521 4.07499 9.88274 3.95857 9.84974 3.85251Z"/></svg>');
			-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M9.84974 3.85251C9.81678 3.74644 9.72909 3.66914 9.62351 3.65312L6.65767 3.20263L5.33127 0.393525C5.28407 0.293525 5.18662 0.230225 5.07995 0.230225C4.97325 0.230225 4.87583 0.293525 4.82861 0.393525L3.50215 3.20263L0.536364 3.65312C0.430809 3.66914 0.34308 3.74644 0.310118 3.8525C0.277138 3.95857 0.304643 4.07499 0.381049 4.15283L2.52706 6.33942L2.02053 9.42697C2.00248 9.53689 2.04572 9.64794 2.13203 9.71351C2.18085 9.75058 2.23868 9.76945 2.2968 9.76945C2.34142 9.76945 2.38619 9.75833 2.42718 9.73579L5.07993 8.27803L7.73256 9.73577C7.82702 9.78767 7.94143 9.77904 8.02774 9.71349C8.11405 9.64794 8.15731 9.53685 8.13927 9.42693L7.63258 6.33942L9.77883 4.15281C9.85521 4.07499 9.88274 3.95857 9.84974 3.85251Z"/></svg>');

			transition: background-color 0.2s ease-out;
		}

		span {
			display: none;
		}
	}
}

// Single Product Reviews rating
.stars {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	margin-top: 8px;
	margin-left: 15px;
	width: 120px;
	height: 20px;

	span {
		display: block;
		height: 18px;
	}

	a {
		position: relative;
		height: 21px;
		width: 21px;
		margin-right: -4px;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		opacity: 0.15;

		&:hover,
		&.active {
			opacity: 1;
		}
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 21px;
			height: 21px;
			background-color: #222;

					mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.977 8.07562C17.9219 7.8977 17.7752 7.76804 17.5987 7.74118L12.6386 6.98558L10.4203 2.2739C10.3414 2.10617 10.1784 2 10 2C9.82159 2 9.65865 2.10617 9.57968 2.2739L7.36132 6.98558L2.40134 7.74118C2.22481 7.76804 2.07809 7.8977 2.02296 8.07558C1.96781 8.2535 2.01381 8.44878 2.14159 8.57932L5.73057 12.2469L4.88345 17.4256C4.85327 17.6099 4.92558 17.7962 5.06992 17.9062C5.15158 17.9684 5.2483 18 5.34548 18C5.42011 18 5.49498 17.9814 5.56354 17.9436L10 15.4985L14.4363 17.9435C14.5942 18.0306 14.7856 18.0161 14.9299 17.9061C15.0743 17.7962 15.1466 17.6099 15.1164 17.4255L14.269 12.2469L17.8584 8.57929C17.9862 8.44878 18.0322 8.2535 17.977 8.07562Z"/></svg>');
			-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.977 8.07562C17.9219 7.8977 17.7752 7.76804 17.5987 7.74118L12.6386 6.98558L10.4203 2.2739C10.3414 2.10617 10.1784 2 10 2C9.82159 2 9.65865 2.10617 9.57968 2.2739L7.36132 6.98558L2.40134 7.74118C2.22481 7.76804 2.07809 7.8977 2.02296 8.07558C1.96781 8.2535 2.01381 8.44878 2.14159 8.57932L5.73057 12.2469L4.88345 17.4256C4.85327 17.6099 4.92558 17.7962 5.06992 17.9062C5.15158 17.9684 5.2483 18 5.34548 18C5.42011 18 5.49498 17.9814 5.56354 17.9436L10 15.4985L14.4363 17.9435C14.5942 18.0306 14.7856 18.0161 14.9299 17.9061C15.0743 17.7962 15.1466 17.6099 15.1164 17.4255L14.269 12.2469L17.8584 8.57929C17.9862 8.44878 18.0322 8.2535 17.977 8.07562Z"/></svg>');

			transition: background-color 0.2s ease-out;

			text-indent: 0;
		}
	}
	
	&:hover{
		a{
			opacity: 1;

			&:before {
				background-color: #ffc42d;
			}
			
			&:hover ~ a {
				opacity: 0.15;

				&:before {
					background-color: #ffc42d;
				}
			}
		}
	}
	
	&.selected{
		a{
			&:not(.active) {
				opacity: 1;

				&:before {
					background-color: #ffc42d;
				}
			}
			
			&.active:before {
				background-color: #ffc42d;
			}

			&.active ~ a {
				opacity: 0.15;
			}
		}
	}
}

.woocommerce-review-link{
	position: relative;
	margin-top: 6px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 11px;
}