.main-navigation {

	&__default {

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
			
			ul {
				position: absolute;
				z-index: 99999;
				top: 100%;
				left: -999em;
				margin-top: 18px;
				padding: 20px;
				text-align: left;
				background-color: rgba(0,0,0,0.9);
				box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);

				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: -19px;
					width: 100%;
					height: 20px;
				}
				
				ul {
					left: -999em;
					top: -20px;
					margin-top: 0;
					margin-left: 0;

					&:after {
						top: 0;
						bottom: 0;
						left: -41px;
						width: 42px;
						height: 100%;
					}
				}

				li {

					&:hover>ul,
					&.focus>ul {
						left: 100%;
						margin-left: 10px;
					}
				}

				a {
					font-weight: 500;
					width: 200px;
				}
			}

			li:hover>ul,
			li.focus>ul {
				left: -20px;
			}
		}

		li {
			position: relative;
			display: inline-block;
		}
		.menu > li {
			padding: 0;
			margin-right: 12px;

			@media (min-width: 1520px) {
				margin-right: 36px;

				.site-header__style-1 & {
					margin-right: 18px;
				}
			}

			> a{
				padding: 3px 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&.menu-item-has-children {
				
				@media (max-width: 1519px) {
					margin-right: 17px;
				}

				> a{
					padding-right: 10px;
				}
			}
		}
		
		a {
			display: inline-block;
			text-decoration: none;
		}
	}

	// Vertical layout
	&__vertical {
		min-width: 400px;
		overflow: hidden;
		
		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
		}

		.menu {
			flex-direction: column;
			flex-wrap: nowrap;

			transition: transform 0.4s ease-in-out;
			will-change: transform;

			display: block !important;
			
			li {

				&.menu-item-has-children {
					& > a {
						position: relative;

						&:after {
							content: '';
							position: absolute;
							top: 50%;
							right: -35px;
							display: block;
							width: 18px;
							height: 18px;
							background-position: center;
							background-repeat: no-repeat;
							background-color: #444;
							
							-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 18" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.37879 9.50011L0.939453 3.06077L3.06077 0.939453L11.6214 9.50011L3.56077 17.5608L1.43945 15.4395L7.37879 9.50011Z"/></svg>');
									mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 18" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.37879 9.50011L0.939453 3.06077L3.06077 0.939453L11.6214 9.50011L3.56077 17.5608L1.43945 15.4395L7.37879 9.50011Z"/></svg>');

							transform: rotate(0) translateY(-50%);
							transition: background-color 0.2s ease-out;
						}

						&:hover:after {
							background-color: #888;
						}

						&:before {
							display: none;
						}
					}
				}

				a {
					padding-top: 17px;
					padding-bottom: 18px;
					line-height: 1.3;
					font-size: 36px;
					color: #fff;

					&:hover {
						color: #888;
					}
				}

				&.current_page_parent > a {
					margin-bottom: 5px;
					font-weight: 400;
					color: #888;
				}
			}

			// Parent item
			.menu-parent-item {
				padding-left: 50px;
				
				> a {
					line-height: 28px;
					font-size: 18px;
					color: #888;

					&:after {
						display: none !important;
					}
				}
			}

			// Back button
			.menu-back-item {
				position: absolute;
				left: 0;
				top: 18px;
				
				svg {
					width: 27px;
					height: 15px;

					path {
						fill: #888;
					}
				}
			}

			a {
				display: inline-flex;
			}

			// Sub Menu
			.sub-menu {
				display: none;
				width: 400px;

				transform: translateX( 100% );

				a {
					justify-content: center;
				}

				li.menu-item-has-children > a:after {
					right: -35px;
					margin: 0;
				}
			}

			.menu-item.active {
				> .sub-menu {
					display: block;
				}
			}
		}
	}
}

/* Item submenu arrow */
.main-navigation {
	li.menu-item-has-children {
		& > a:before,
		& > a:after {
			content: '';
			position: absolute;
			right: 0;
			top: 51%;
			width: 4px;
			height: 1px;
			transition: background-color 0.2s ease-out;
		}

		& > a:before {
			transform: rotate(45deg);
		}

		& > a:after {
			right: -4px;
			transform: rotate(-45deg);
		}
	}

	.sub-menu {
		li.menu-item-has-children {
			& > a:before {
				right: 20px;
				margin-top: -4px;
			}

			& > a:after {
				right: 20px;
				margin-bottom: -4px;
			}
		}
	}
}

/* Vertical Menu Toggle Button */
.menu-toggle-wrapper {
	min-width: 33%;

	.site-header__style-1 & {
		display: none;
	}

	.site-header__style-3 & {
		display: none;
	}

	button {
		vertical-align: middle;
	}

	.menu-toggle-box {
		position: relative;
		display: block;
		width: 20px;
		height: 20px;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 6px;
			width: 100%;
			height: 2px;
			background-color: #222;
			transition: width 0.2s ease-out;
		}

		&:after {
			top: 12px;
			width: 12px;
		}

		&:hover:after {
			width: 100%;
		}
	}
}

/* Vertical Menu */
.header-vertical-menu-popup {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	overflow: hidden;
	background-color: transparent;
	transform: scale(0);
	transition: background-color 0.3s;

	.vertical-menu-active & {
		background-color: #111;
		transform: scale(1);
	}

	.site-header__style-1,
	.site-header__style-3 & {
		visibility: hidden;
	}

	.menu-toggle-close {
		position: absolute;
		left: 40px;
		top: 34px;
		width: 20px;
		height: 20px;
		margin: 0;
		padding: 0;
		border: 0;
		background: none;

		path {
			fill: #fff;
		}
	}

	.admin-bar & {
		.menu-toggle-close {
			top: 66px;
		}
	}

	&__inner{
		margin: 0 auto;
		height: 100vh;
		max-width: 90vw;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	/* Mobile Styles */
	@include media-breakpoint-down(xs) {
		display: block;
		text-align: center;
	}
}